@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** Base colors */
  --dark-a0: 0, 0, 0; /* rgba(0, 0, 0, 1) */
  --light-a0: 255, 255, 255; /* rgba(255, 255, 255, 1) */

  /** Dark theme primary colors */
  --primary-a0: 46, 167, 138; /* rgba(46, 167, 138, 1) */
  --primary-a10: 49, 173, 144; /* rgba(49, 173, 144, 1) */
  --primary-a20: 52, 179, 150; /* rgba(52, 179, 150, 1) */
  --primary-a30: 55, 185, 156; /* rgba(55, 185, 156, 1) */
  --primary-a40: 58, 191, 162; /* rgba(58, 191, 162, 1) */
  --primary-a50: 61, 197, 168; /* rgba(61, 197, 168, 1) */
  --primary-a60: 55, 165, 135; /* rgba(55, 165, 135, 1) */
  --primary-a70: 50, 150, 122; /* rgba(50, 150, 122, 1) */
  --primary-a80: 44, 135, 110; /* rgba(44, 135, 110, 1) */
  --primary-a90: 38, 120, 98; /* rgba(38, 120, 98, 1) */
  --primary-a100: 32, 105, 86; /* rgba(32, 105, 86, 1) */

  --surface-a0: 18, 18, 18; /* rgba(18, 18, 18, 1) */
  --surface-a10: 41, 41, 41; /* rgba(41, 41, 41, 1) */
  --surface-a20: 64, 64, 64; /* rgba(64, 64, 64, 1) */
  --surface-a30: 87, 87, 87; /* rgba(87, 87, 87, 1) */
  --surface-a40: 112, 112, 112; /* rgba(112, 112, 112, 1) */
  --surface-a50: 140, 140, 140; /* rgba(140, 140, 140, 1) */

  --surface-tonal-a0: 17, 34, 30; /* rgba(17, 34, 30, 1) */
  --surface-tonal-a10: 23, 46, 41; /* rgba(23, 46, 41, 1) */
  --surface-tonal-a20: 30, 58, 52; /* rgba(30, 58, 52, 1) */
  --surface-tonal-a30: 38, 71, 64; /* rgba(38, 71, 64, 1) */
  --surface-tonal-a40: 47, 85, 76; /* rgba(47, 85, 76, 1) */
  --surface-tonal-a50: 57, 101, 90; /* rgba(57, 101, 90, 1) */
}

body {
  color: rgba(var(--light-a0));
  background: var(--surface-a0);
  font-family: Arial, Helvetica, sans-serif;
}